<!-- HTML CODE FOR FOOTER TO REUSE -->
{% load static %}

<footer class="footer">
    <div class="footer-content">
      <img src="{% static 'B2B Logo.png' %}" alt="Club logo" class="imglogo" />
      <p>
        The club for software
      </p>
      
      <div class="icons">
        <a href="https://instagram.com/bit2byteclub" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="mailto:bit2bytee@gmail.com"><i class="fa-regular fa-envelope"></i></a>
        <a href="https://discord.gg/efU6H5YgSU" target="_blank"><i class="fa-brands fa-discord"></i></a>
        
      </div>

    </div>

    <div class="footer-content">
      <h4>Projects</h4>
    </div>

    <div class="footer-content">
      <h4>How we work</h4>
      <li><a href="#">About us</a> </li>
    </div>
    

  </footer>