{% load static %}

<!-- HTML CODE FOR NAVBAR TO REUSE -->
<header class="header">
    <a href="{% url 'home' %}">
      <img src="{% static 'B2B Logo.png' %}" alt="Club logo" class="imglogo">
    </a>

    <div class="hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nav class="navbar-links">
      <a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a>
      <a href="{% url 'about' %}" class="{% if request.path == '/about/' %}active{% endif %}">About</a>
      <a href="#">Projects</a>
      <a href="#">Submit a Form</a>
      <a href="#">Contact Us</a>

      <div class="navbar-links--login">
        <a href="{% url 'login' %}">
          <i class="fa-regular fa-user" style="color: hsl(164, 73%, 30%);"></i>
          Login
        </a>
      </div>
    </nav>

</header>

<!-- SIDE NAVIGATION BAR -->
<header class="side-bar--header">
    <nav class="side-links">
      <a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a>
      <a href="{% url 'about' %}" class="{% if request.path == '/about/' %}active{% endif %}">About</a>
      <a href="#">Projects</a>
      <a href="#">Submit a Form</a>
      <a href="#">Contact Us</a>

      
      <a href="{% url 'login' %}">
        <i class="fa-regular fa-user" style="color: hsl(164, 73%, 30%);"></i>
        Login
      </a>
      
    </nav>
</header>

<script src="{% static 'navbar.js' %}"></script>