 

 .tab-bar {
        display: flex;
        justify-content: space-between;
        height: 6rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(30px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        -webkit-backdrop-filter: blur(12px);
        box-shadow: 0 4px 20px rgba(0,0,0,0.2);
        border-radius: 12px;
        align-items: center;
        opacity: 0.8;
        
}

.tab-links {
        display: flex;
        gap: 20px;
        justify-content: center; 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
}

.tab-bar a {
        justify-content: space-between;
        color: white;
        padding: 0 20px;
        text-decoration: none;
        transition: background .2s;
        font-size: 2rem;
        display: flex;
        align-items: center;
        height: 100px;
        font-family: sans-serif;
        
}

.tab-bar a:hover {
        background-color: #555555;
}

.imglogo {
        width: auto;
        height: 100%;
        padding-left: 20%;
}
.ms {
        font-size: 3rem;
        color: black;
}

.center {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.teamsection {
        gap: 20px;
        flex-wrap: wrap;
        background: transparent;
}

.cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;

}

.card:hover {
        transform: scale(1.05);
        
}

.teamsection > .ms {
        padding-top: 2rem;
        color: white;
}

.teamsection > div > .card {
        transition:transform .4s ease, background 1s ease;
        color: white;
        text-align: center;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(10px);
}

body {
        padding-top: 6rem;
        background: linear-gradient(135deg, #2a2a2a, #0d0d0d, #000000);

        background-repeat: no-repeat;
        margin: 0;
        height: 100vh;
        background-repeat: no-repeat;
        background-attachment: fixed;
}

* , .tab-links a {
  font-family: 'Times New Roman', sans-serif;
}




