  .tab-bar {
        display: flex;
        justify-content: space-between;
        height: 100px;
        background-color: #333;
        align-items: center;
        position: relative;
}

.tab-links {
        display: flex;
        gap: 20px;
        justify-content: center; 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
}

.tab-bar a {
        justify-content: space-between;
        color: white;
        padding: 0 20px;
        text-decoration: none;
        transition: background .2s;
        font-size: 2rem;
        display: flex;
        align-items: center;
        height: 100px;
        font-family: papyrus;
}

.tab-bar a:hover {
        background-color: #555;
}

.imglogo {
        width: auto;
        height: 100%;
        padding-left: 20%;
}
.ms {
        font-size: 2rem;;
}

.center {
        display: flex; 
        justify-content: center;
}

.teamsection {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
}

/*Trying the transition thing because I've never had a chance to feel free to remove it*/
.darkmode {
        background-color: #000;
        color: #fff;
        transition: background-color 0.3s ease, color 0.3s ease;
}

.lightmode {
        background-color: #fff;
        color: #000;
        transition: background-color 0.3s ease, color 0.3s ease;
}

.darkLightmodeButton {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border: none;
        border-radius: 0px;
        font-size: 1.5rem;
        gap: 10px;
}