 
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 .tab-bar {
        display: flex;
        justify-content: space-between;
        height: 8rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: hsla(0, 0%, 100%, 0.1);
        backdrop-filter: blur(30px);
        border: 1px solid hsla(0, 0%, 100%, 0.2);
        -webkit-backdrop-filter: blur(12px);
        box-shadow: 0 4px 20px hsla(0, 0%, 0%, 0.2);
        border-radius: 12px;
        align-items: center;
        opacity: 0.8;
}

.clubname {
        color: white;
        font-size: 7rem;
        display: flex;
        justify-self: center;
        font: "consolas";
        color: white;
        text-shadow:
        4px 0px 0 hsl(125, 56%, 13%),
        6px 0px 0 hsl(125, 56%, 13%),
        8px 0px 0 hsl(125, 56%, 13%);
        font-family: "tomorrow";
        font-weight: 500;
}       

.tab-links {
        display: flex;
        gap: 20px;
        justify-content: center; 
        position: absolute;
        left: 80%;
        transform: translateX(-50%);
}

.tab-bar a {
        justify-content: space-between;
        color: white;
        padding: 0 20px;
        text-decoration: none;
        transition: background .3s;
        font-size: 2rem;
        display: flex;
        align-items: center;
        height: 8rem;
        
}

.tab-bar a:hover {
        background-color: hsl(0, 7%, 94%);
        color: hsl(164, 73%, 30%);
        border-radius: 12px;
        opacity: .7;
}

.imglogo {
        width: auto;
        height: 100%;
        padding-left: 10%;
}

body {
        padding-top: 8rem;
        background: linear-gradient(135deg, hsl(0, 0%, 16%), hsl(0, 0%, 5%), hsl(0, 0%, 0%));
        background-repeat: no-repeat;
        margin: 0;
        height: 100vh;
        background-repeat: no-repeat;
        background-attachment: fixed;
}

.tab-links a {
        font-family: 'Tomorrow', sans-serif;
}

.mscontainer {
        text-align: center;
}

.misstat{
        color: white; 
        font-family: "tomorrow", sans-serif;
        font-weight: 300;
        font-size: 3rem;
        display: inline-block;
}

.check {
  overflow: hidden;
  white-space: nowrap;
  border-right: 5px solid #0f4216;
  width: 100%;
  animation: 
        typing .7s steps(8), 
        cursor 0.4s step-end infinite alternate;
}

.statementcontainer {
        color: white; 
        font-size: 2rem;
        font-family: 'tomorrow', sans-serif;
        font-weight: 200;
        display: flex;
        justify-content: center;
}

.statement {
        width: 30%;
        text-align: center;
}

/* Typing effect */
@keyframes typing {
  from { width: 0 }
}

/* Blinking cursor */
@keyframes cursor {
  50%{ border-color: transparent }

} 