{% load static %}
<!DOCTYPE html>
<html lang ="en">
<head> 
  <title>home</title>
  <link rel="icon" href="{% static 'B2B Logo.png' %}" type="image/png">
  <!--<link rel="stylesheet" href ="ssfront.css">-->
  <link rel="stylesheet" href="{% static 'ssfront.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />

</head>


<body>

  <!-- INSERT NAVIGATION BAR HTML FROM partials/navbar.html -->
  {% include "partials/navbar.html" %} 

 
  <main class="main">
    <div class="clubname ">
      <p>Bit to Byte</p>
    </div>

    <div class="mscontainer ">
      <div class="misstat">
        <p class = "check"> Our <span style="color: hsl(164, 73%, 30%)">Goal</span></p>
      </div>
    </div>

    <div class="statementcontainer "> 
      <div class="statement">
        <P> We want to help students gain professional experience through team-oriented development 
        in order to create quality software products for others. </P>
      </div>
    </div>

    <div class="whatwedocontainer">
      <div class="whatwedotext">
        <p class="top"> What we do</p>
        <p class="bottom">We are a team of dedicated students here at UNLV focused on developing software at a 
          low cost. Our services consist of site development and maintenence at a one time cost</p>
      </div>


      <!-- wrapping whole thing -->
      <div style="position: relative; margin-top: 100px;">
        
        <div class="carousel-btns">
          <button class="carousel-btns--prev"> < </button>
        </div>

        <div class="carousel-container--title">
          <span>TECHNOLOGIES USED</span>
        </div>


        <div class="carousel-overall-container">
          <div class="carousel-container">
            
            <!-- Sliding cards -->
            <div class="carousel-container--card">
              <img src="{% static 'icons8-html-240.png' %}" alt="">
              <span>HTML</span>
            </div>
    
            <div class="carousel-container--card">
              <img src="{% static 'icons8-css-240.png' %}" alt="">
              <span>CSS</span>
            </div>
    
            <div class="carousel-container--card">
              <img src="{% static 'icons8-javascript-240.png' %}" alt="">
              <span>JAVASCRIPT</span>
            </div>
            
            <div class="carousel-container--card">
              <img src="{% static 'icons8-python-240.png' %}" alt="">
              <span>DJANGO</span>
            </div>
            
            <div class="carousel-container--card">
              <img src="{% static 'icons8-react-native-240.png' %}" alt="">
              <span>REACT</span>
            </div>
    
            <div class="carousel-container--card">
              <img src="{% static 'icons8-tailwind-css-240.png' %}" alt="">
              <span>TAILWIND</span>
            </div>
    
            <div class="carousel-container--card">
              <img src="{% static 'icons8-java-240.png' %}" alt="">
              <span>JAVA SPRING</span>
            </div>
          
    
          </div>
    
        </div>
        <!-- Btns -->
        <div class="carousel-btns">
          <button class="carousel-btns--next"> > </button>
        </div>
      </div>
      <!-- ethan^^^ -->
    </div>

    <!-- Contact Us Section -->
    <div class="contact-section">
      <div class="contact-content">
        <h2 class="contact-title">Get In <span style="color: hsl(164, 73%, 30%)">Touch</span></h2>
        <p class="contact-subtitle">Connect with us on social media or reach out via email</p>
        
        <div class="contact-links">
          <a href="https://discord.gg/efU6H5YgSU" target="_blank" class="contact-card">
            <i class="fa-brands fa-discord"></i>
            <span>Join our Discord</span>
          </a>
          
          <a href="https://instagram.com/bit2byteclub" target="_blank" class="contact-card">
            <i class="fa-brands fa-instagram"></i>
            <span>Follow us on Instagram</span>
          </a>
          
          <a href="mailto:bit2bytee@gmail.com" class="contact-card">
            <i class="fa-regular fa-envelope"></i>
            <span>bit2bytee@gmail.com</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Slider main container -->
    




    <!-- Tie the background behind the main -->
    {% include "partials/background.html" %} 
  </main>


  {% include "partials/footer.html" %}

  
 
  <script src="{% static 'fpJ.js' %}"></script>
</body>

</html>

