{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="{% static 'lp.css' %}">
</head>
<body>
    <div class="tab-bar container">
        <div class="imgcontainer">
            <a href="{% url 'home' %}">
                <img src="{% static 'B2B Logo.png' %}" alt="Club logo" class="imglogo">
            </a>
        </div>
        <div class="tab-links container">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
        </div>
    </div>

    
    <div class="form-container">
        <div class="card" id="card">
            <div class="face front">
                <h2>Login</h2>
                <form method="POST">
                    {% csrf_token %}
                    {% if login_form.non_field_errors %}
                        <div class="errormsg">
                            <p>Your Username or Password is invalid</p>
                        </div>
                    {% endif %}
                    {{ login_form.username.label_tag }}
                    {{ login_form.username }}
                    {{ login_form.password.label_tag }}
                    {{ login_form.password }}
                    <button type="submit" name="login">Login</button>
                </form>
                <p>Don't have an account? <span class="flip-btn" onclick="flipCard()">Sign Up</span></p>
            </div> 
            <div class="face back">
                <h2>Sign Up</h2>
                <form method="POST">
                    {% csrf_token %}
                    {% if messages %}
                        <div class="errormsg">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{ signup_form.username.label_tag }}
                    {{ signup_form.username }}
                    {{ signup_form.password1.label_tag }}
                    {{ signup_form.password1 }}
                    {{ signup_form.password2.label_tag }}
                    {{ signup_form.password2 }}
                    <button type="submit" name="signup">Sign Up</button>
                </form>
                <p>Already have an account? <span class="flip-btn" onclick="flipCard()">Login</span></p>
            </div>
        </div>
    </div>

<script>
    // Pass Django variable to JavaScript
    window.activeForm = "{{ active_form }}";
</script>
<script src="{% static 'lpj.js' %}"></script>
</body>
</html>