@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'ssfront.css';

.officer-header {
    border: solid, 3px, #0f4216;
    

    top: 15vh;
    color: hsl(0, 0%, 100%);
    font-family: "Tomorrow", sans-serif;

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #0f4216;
    
    animation: 
        typing 1s steps(8, end) forwards, 
        cursor 0.7s steps(1) infinite;

    }
    @keyframes typing {
            from { width: 0 }
            to { width: 10ch }
        }
    
    @keyframes cursor {
            0%, 100% { border-color: #0f4216; }
            50% { border-color: transparent; }
        }


.officer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.officer-container .card {
  background-color: #000;
  border-radius: 15px;
  overflow: hidden;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;

}

.officer-container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.officer-container .card img {
  width: 100%;
  height: auto;
}

.officer-container .card-content {
  padding: 15px;
  text-align: center;
}

.officer-container .card-content h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.officer-container .card-content p {
  font-size: 0.95rem;
  color: #ccc;
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr; 
  }
  .card-container > .card:last-child {
    grid-column: auto; 
    max-width: 100%;
  }
}