.ms {
        font-size: 3rem;
        color: black;
}

.center {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamsection {
    gap: 20px;
    flex-wrap: wrap;
    background: transparent;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

}

.card:hover {
    transform: scale(1.05);
        
}

.teamsection > .ms {
    padding-top: 2rem;
    color: white;
}

.teamsection > div > .card {
    transition:transform .4s ease, background 1s ease;
    color: white;
    text-align: center;
    background: hsla(0, 0%, 0%, 0.6);
    backdrop-filter: blur(10px);
}

body {
    padding-top: 6rem;
    background: linear-gradient(135deg, hsl(0, 0%, 16%), hsl(0, 0%, 5%), hsl(0, 0%, 0%));
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}