@import "lp.css";


.userpage-container {
    display: flex;
    min-height: 80vh;
}
.sidebar {
    width: 250px;
    background: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 99%);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    box-sizing: border-box;
}
.sidebar h2 {
    text-align: center;
    margin-bottom: 4rem;
    color: hsl(164, 73%, 30%);
}
.sidebar .bubble {
    background: linear-gradient(145deg,  hsl(0, 0%, 16%), hsl(0, 0%, 5%), hsl(0, 0%, 0%));
    border-radius: 50px; 
    padding: 16px 24px;
    margin-bottom: 24px;
    text-align: center;
    box-shadow: 
        inset 2px 2px 6px rgba(255, 255, 255, 0.3), /* inner highlight */
        0 4px 12px rgba(0, 0, 0, 0.3); /* outer shadow */

    position: relative;
    overflow: hidden;
}
 .sidebar .bubble::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 40%;
    background: radial-gradient(
        ellipse at top,
        rgba(255, 255, 255, 0.6),
        transparent 50%
    );
    border-radius: 50%;
    transform: translateY(-30%);
}

.sidebar .bubble h2 {
    font-size: 1.5rem;
    margin: 0;
    color: white; 
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.sidebar button{
    color: hsl(164, 73%, 30%);
    align-items: center;
    background-color: hsl(0, 0%, 5%);
    justify-content: center;
    
    min-height: 2.5em;
    padding: 0.75em 1.5em;
    display: flex;
    
    border-radius: 1rem;
    border: none;
    position: relative;
    transition: 0.1s;
}
.sidebar button::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        circle farthest-corner at 10% 20%, 
        rgba(255,94,247,0.6) 17.8%, 
        rgba(2,245,255,0.6) 100.2%  
    );
    filter: blur(10px); 
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}
.sidebar button:active {
    transform: scale(0.9) rotate(3deg);
    background-image: radial-gradient(
        circle farthest-corner at 10% 20%, 
        rgba(255,94,247,0.3) 17.8%, 
        rgba(2,245,255,0.3) 100.2%  
    );
    transition: 0.5s;
}
.sidebar input{
    text-align: left;
    width: 100%; 
    margin-top: 0.25rem; 
    margin-bottom: 0.5rem;
    padding: 6px;
    background: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 16%);
    border: none;
    padding: 0.75em 1.5em;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.sidebar input:focus{
    outline: none;
    box-shadow: 0 0 0 2px rgba(2,245,255,0.7);
}