@import "lp.css";


.userpage-container {
    display: flex;
    min-height: 80vh;
}
.sidebar {
    width: 250px;
    background: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 99%);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    box-sizing: border-box;
}
.sidebar h2 {
    text-align: center;
    margin-bottom: 4rem;
    color: hsl(164, 73%, 30%);
}
/* This is not working how I want, im trying to make it
   look more like a glossy bubble to hold text but it don't rn*/
.sidebar .bubble{
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 16px 24px;
    margin-bottom: 24px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid hsla(0, 0%, 100%, 0.2);
}
.sidebar .bubble h2{
    font-size: 1.5rem;
    margin: 0;
    color: hsl(164, 73%, 30%);
}